.Label {
  display: flex;
  width: 100px;
  justify-content: left;
  align-items: center;
  margin: 2px;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  color: black;
}

.Label input {
  margin-right: 3px;
}

label {
  display: flex;
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .Label {
    width: 48%;
  }
}
