The application allows storing code snippets and commands, so that I can access them easily from anywhere anytime.

Version1 
Display all entries by default
An option to add a new entry: Title, snippets/command
Code gets displayed like code
Edit an entry 
Delete an entry
Firebase CRUD of entries

Version2 
Predefined tags for major topics: HTML, CSS, JS, React, Redux, TS, NPM, GIT, Linux, Bash
The predefined tags get displayed at the top 
Each entry must be assigned at least one tag
Selecting tags at the top filters the entries
URL deeplinking for label-based searching
De-select tags option

Version3
Searchbar that searches titles of all entries and returns matching results
URL deeplinking for text-based searching
Dark/white mode
Protect Firebase

Techstact: 
React, TypeScript, Firebase, Google Code Pretify, Jest

https://www.npmjs.com/package/code-prettify-google
https://code.google.com/archive/p/google-code-prettify/downloads
https://www.youtube.com/watch?v=1op-PqCGdIA
https://w3bits.com/google-code-prettify/