.FavoriteButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: none;
  margin: 2px;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.favorited {
  background-color: gold;
}
