.RadioLabel {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border-radius: 5px;
  padding: 0.2em 0.5em;
  cursor: pointer;
  font-size: 0.8rem;
  color: black;
}

.RadioLabel input {
  max-width: 25%;
  margin: 0 auto;
}

label {
  display: flex;
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .RadioLabel {
    width: 30%;
  }
}
