.ReadonlyLabel {
  width: 60px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.1em 0.5em;
  display: flex;
  max-height: 22px;
}

.ReadonlyLabel + .ReadonlyLabel {
  margin-left: 0.5em;
}
