.AddSnippetForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0.25rem;
  background-color: rgb(100, 195, 205);
  border-radius: 5px;
  padding: 0.5em;
}

.AddSnippetForm > label {
  display: none;
}

.AddSnippetForm input,
textarea {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 0.5em;
  padding: 0.4em;
}

.AddSnippetForm textarea {
  width: 100%;
  min-height: 100px;
}

.labelSelection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.25em;
}
