.header {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.headerTitle {
  background-color: white;
  padding: 0.25em;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--darkBlue);
  font-size: 2rem;
  letter-spacing: 5px;
}

.headerAuthentication {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);
  color: #fff;
  font-weight: 600;
  padding: 0.25em 0;
  margin-bottom: 0.25em;
}

.headerOptions {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
