.header {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.headerTitle {
  background-color: rgb(131, 131, 131);
  color: white;
  font-size: 2rem;
  padding: 0.25em;
}

.headerOptions {
  margin: 0.25em;
  border-radius: 0.25rem;
  border: 2px solid cadetblue;
  display: flex;
  flex-direction: row;
}
