.snippet {
  margin-bottom: 1rem;
  border-radius: 3px;
  background-color: var(--mediumBg);
}

.snippet input {
  border: none;
  padding: 0.2em;
  margin: 0 0.25em;
  margin-bottom: 0.2em;
  max-width: 99%;
}

.snippetHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--lightBlue);
  padding: 0.2em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.snippetEditMode {
  background-color: var(--lightBlue);
}

.snippetHeader p {
  margin: 0;
  padding: 0;
  padding: 0.2em;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.2em;
}

.snippetInputName {
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  border-radius: 3px;
}

.titleRight,
.titleLeft {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.description {
  font-size: 0.9rem;
  padding: 0.2em;
  margin: 0 0.25em;
}

.snippetInputDescription {
  width: 100%;
  border-radius: 3px;
}

.snippetInputLink {
  width: 100%;
  border-radius: 3px;
}

.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.9rem;
  padding: 0.2em;
  margin: 0 0.25em;
}

.link a {
  margin-left: 0.25em;
}

body {
  padding: 0.2em;
}

.snippet textarea {
  margin: 0 0.25em;
  margin-bottom: 0;
  max-width: 99%;
  min-height: 150px;
  height: auto;
}

.body pre {
  margin: 0;
  padding: 0;
  margin: 0 0.25em;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  margin-bottom: 0.25em;
}

.codeContent {
  border-radius: 3px;
  background-color: var(--darkBg);
  color: var(--darkBlue);
}

.footer {
  display: flex;
  padding: 0.2em;
}

.confirmDelete {
  background-color: tomato;
  color: white;
  font-weight: 600;
}
