.Authentication {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.Authentication form {
  width: auto;
}

.Authentication label {
  display: none;
}

.passwordInput {
  width: 100px;
}
