The application allows storing code snippets and commands, so that I can access them easily from anywhere anytime.

Version1 
--Display any entries by a hardcoded filter
--An option to add a new entry: Title, snippets/command
--Code gets displayed like code
--Edit an entry 
--Delete an entry
--Firebase CRUD of entries

Version2 
--Predefined tags for major topics: HTML, CSS, JS, React, Redux, TS, NPM, GIT, Linux, Bash
--The predefined tags get displayed at the top 
--Each entry must be assigned exactly one tag
--Selecting tags at the top filters the entries
--De-select tags option
--Set a snippet as favorite, so that it will be displayed at the top of its category      
--URL deeplinking for label-based searching

Version3
--Protect Firebase
--Do proper styling
--Snackbar for: Incorrect login; Necessity to login in order to add,edit,delete snippets 
--Improve the language shortcuts to be more predictable especially for the url
--Label texts should be color dependent to be easy to read
--Delete - confirmation, red button and exclamation mark 
--Improve the Add new snippet button 

Additional 
--Refactor all code
--If there is no snippet being displayed, show a message and an option to create a snippet 
--Add an option to attach a link to each snippet. The link would open in a new window.
--Introduce an option to set a snippet as private -> it will be displayed only for a logged-in user
--Add an option to create a snippet as private/nonprivate
(Write unit tests in Jest)
--Deploy
--Add to my portfolio 

Bugs to fix:
Make sure a snackbar appears fully also on mobile small screen 
When editing fix that a different label can be selected

Techstact: 
React, TypeScript, Firebase, Google Code Pretify, Jest

https://www.npmjs.com/package/code-prettify-google
https://code.google.com/archive/p/google-code-prettify/downloads
https://www.youtube.com/watch?v=1op-PqCGdIA
https://w3bits.com/google-code-prettify/

React Router useNavigate()
https://dev.to/salehmubashar/usenavigate-tutorial-react-js-aop

Multiple values for a query parameter
https://stackoverflow.com/questions/61990792/concat-multiple-query-param-in-react-router

React router params
https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams/toString

Firebase authentication and error handling - with TS 
https://www.youtube.com/watch?v=5wB7bxzYwVc
https://medium.com/geekculture/firebase-auth-with-react-and-typescript-abeebcd7940a

Firebase - redirecting depending on the login state 
https://anthonybendeler.medium.com/redirecting-in-a-react-single-page-application-with-firebase-auth-b1b0494b251b

Color picker: 
https://colorpicker.me/

Next project idea: Shogi - Catch the lion
One-screen game to play it on a tablet
Over-the internet game 

Next project idea: Shogi the big forest 
