.Message {
  position: absolute;
  top: 90vh;
  right: 5vw;
  width: 90vw;
  max-width: 500px;
  background-color: rgb(221, 22, 22);
  color: #fff;
  padding: 0.5em 1em;
  margin: 0 auto;
  font-size: 0.9rem;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 3px #ffffff60;
  opacity: 0.9;
  font-weight: 600;
}

.Message-warning {
  background-color: rgb(255, 126, 6);
  color: white;
}

.Message-error {
  background-color: crimson;
  color: white;
}

.Message-success {
  background-color: green;
  color: white;
}

.Disappear {
  animation-name: disappear;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
